<%- include('../partials/header'); %>

<h1 class="title">
    Library
</h1>
<p class="subtitle is-4">
    Games here! Get your games here!
</p>

<form action="/library/" method="GET">
    <input class="input" type="text" name="search_term" value="<%= search %>" placeholder="Search for title or platform!">
</form>

<!-- <div class="tabs"><ul></ul></div> -->
<hr class="hr">

<% if (rows.length > 0) { %>
    <% rows.forEach( row => { %>
        <%- include('../partials/game_card', { game: row }); %>
    <% }); %>
<% } else { %>
<h2>No games!</h2>
<% } %>

<%- include('../partials/footer'); %>
