<%- include('../partials/header'); %>

<h1 class="title">
    Admin Console
</h1>
<p class="subtitle is-4">
    Do your admin thing here
</p>

<hr class="hr">

<div class="level">
    <div class="notification">
        <a href="/game_titles/new/">Create a new <strong>Game_Title</strong>: an entity containing the metadata about a video game.</a>
    </div>
</div>

<div class="level">
    <div class="notification">
        <a href="/game_platforms/new/">Create a new <strong>Game_Platform</strong>: an entity containing the metadata about a game platform.</a>
    </div>
</div>

<div class="level">
    <div class="notification">
        <a href="/game_releases/new/">Create a new <strong>Game_Release</strong>: an entity representing an actual purchaseable product.</a>
    </div>
</div>

<div class="level">
    <div class="notification">
        <a href="/game_copies/new/">Create a new <strong>Game_Copy</strong>: an entity representing a physical copy in the library.</a>
    </div>
</div>

<div class="level">
    <div class="notification">
        <a href="/users/">View the <strong>Users</strong> table.</a>
    </div>
</div>

<div class="level">
    <div class="notification">
        <a href="/game_requests/pending/">View all unfulfilled <strong>Requests</strong>.</a>
    </div>
</div>

<div class="level">
    <div class="notification">
        <a href="/game_requests/checked_out/">View all checked-out <strong>Requests</strong>.</a>
    </div>
</div>

<div class="level">
    <div class="notification">
        <a href="/game_requests/completed/">View all completed <strong>Requests</strong>.</a>
    </div>
</div>

<%- include('../partials/footer'); %>
