<%- include('../partials/header'); %>

<h1 class="title">
    Admin Console
</h1>
<p class="subtitle is-4">
    Do your admin thing here
</p>

<hr class="hr">

<div class="level">
    <div class="notification">
        <a href="/users/">View the <strong>Users</strong> table.</a>
    </div>
</div>

<div class="level">
    <div class="notification">
        <a href="/game_titles/">View the <strong>Game_Titles</strong> table.</a>
    </div>
</div>

<div class="level">
        <div class="notification">
            <a href="/game_platforms/">View the <strong>Game_Platforms</strong> table.</a>
        </div>
    </div>

    <div class="level">
            <div class="notification">
                <a href="/game_releases/">View the <strong>Game_Releases</strong> table.</a>
            </div>
        </div>

<div class="level">
    <div class="notification">
        <a href="/game_copies/">View the <strong>Game_Copies</strong> table.</a>
    </div>
</div>

<div class="level">
    <div class="notification">
        <a href="/game_requests/pending/">View all unfulfilled <strong>Requests</strong>.</a>
    </div>
</div>

<div class="level">
    <div class="notification">
        <a href="/game_requests/checked_out/">View all checked-out <strong>Requests</strong>.</a>
    </div>
</div>

<div class="level">
    <div class="notification">
        <a href="/game_requests/completed/">View all completed <strong>Requests</strong>.</a>
    </div>
</div>

<%- include('../partials/footer'); %>
