<%- include('./partials/header', { page_title: page_title }); %>

<h1 class="title">
    Game Library
</h1>
<p class="subtitle">
    Request your games now from the free lending library.
</p>

<%- include ./partials/footer %>