<%- include('../partials/header'); %>

<div class="content">
    <h2>Create a new game release:</h2>
    </div>

    <div class="field">
    <label class="label">Title ID</label>
    <div class="control">
        <input class="input" type="text" placeholder="Zelda: Breath of the Wild">
    </div>
    </div>

<div class="field">
    <label class="label">Platform</label>
    <div class="control">
        <input class="input" type="text" placeholder="Nintendo Switch">
    </div>
    </div>

    <div class="field">
    <label class="label">Release Date</label>
    <div class="control">
        <input class="input" type="date">
    </div>
</div>

    <div class="field">
    <label class="label">Rating</label>
    <div class="control">
        <input type="number" min="0" max="5" step ="0.1" value="5">
    </div>
</div>

    <div class="field">
    <label class="label">Boxart URL</label>
    <div class="control">
        <input class="input" type="text" placeholder="Optional">
    </div>
    </div>

    <div class="field is-grouped">
    <div class="control">
        <button class="button is-link">Submit</button>
    </div>
    <div class="control">
        <button class="button is-text">Cancel</button>
    </div>
    </div>

<%- include('../partials/footer'); %>