<%- include('../partials/header'); %>
    <div class="content">
        <h2>Create a new game copy:</h2>
      </div>

    <div class="field">
        <label class="label">Release</label>
        <div class="control">
          <input class="input" type="text" placeholder=" ">
        </div>
      </div>

      <div class="field">
        <label class="label">Libary Tag</label>
        <div class="control">
          <input class="input" type="text" placeholder=" ">
        </div>
    </div>

    <div class="field">
        <label class="label">Date Procured</label>
        <div class="control">
          <input class="input" type="date">
        </div>
    </div>

    <div class="field">
        <label class="label">Status</label>
      <div class="control">
        <div class="select">
          <select>
            <option>Available</option>
            <option>Checked out</option>
            <option>Lost</option>
          </select>
        </div>
      </div>
    </div>


      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link">Submit</button>
        </div>
        <div class="control">
          <button class="button is-text">Cancel</button>
        </div>
      </div>

<%- include('../partials/footer'); %>